flows/nyc_taxi_capstone.yaml
id: nyc_taxi_capstone
namespace: zoomcamp

tasks:

  - id: fetch
    type: io.kestra.plugin.core.http.Download
    uri: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet


  - id: upload_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.fetch.uri }}"
    to: gs://dtc-data-lake-zoomcamp-de-463203/yellow/2023/01/yellow_2023_01.parquet
    projectId: zoomcamp-de-463203


  - id: bq_load
    type: io.kestra.plugin.gcp.bigquery.Load
    from: "{{ outputs.fetch.uri }}"
    destinationTable: zoomcamp_de.yellow_2023_part
    format: PARQUET
    autodetect: true
    writeDisposition: WRITE_TRUNCATE
    projectId: zoomcamp-de-463203


  - id: dbt_run
    type: io.kestra.plugin.scripts.shell.Commands
    docker:
      image: ghcr.io/dbt-labs/dbt-core:1.8.0
      volumes:
        - /home/kidem/nyc-taxi-pipeline/dbt:/project
        - /home/kidem/nyc-taxi-pipeline/gcp_key.json:/creds/gcp_key.json:ro

    env:
      GOOGLE_APPLICATION_CREDENTIALS: /creds/gcp_key.json

    commands:
      - cd /project
      - dbt deps
      - dbt run
      - dbt test
